<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettingsForm" type="System.Configuration.UserSettingsFormGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JPPSVN.Properties.SettingsForm" type="System.Configuration.ClientSettingsFormSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JPPSVN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettingsForm>
        <JPPSVN.Properties.SettingsForm>
            <setting name="OutputFolder" serializeAs="String">
                <value>D:\JPPOut\</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryURL" serializeAs="String">
                <value>https://pabs.uni-wuerzburg.de/repos/ws17_pp</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryFolder" serializeAs="String">
                <value>D:\JPPTest\</value>
            </setting>
            <setting name="IDEAPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFindIDEA" serializeAs="String">
                <value>True</value>
            </setting>
        </JPPSVN.Properties.SettingsForm>
    </userSettingsForm>
    <userSettings>
        <JPPSVN.Properties.Settings>
            <setting name="RepositoryFolder" serializeAs="String">
                <value>D:\Projekte\Java\Programmierpraktikum\WS17\repository</value>
            </setting>
            <setting name="AutoFindIDEA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IDEAPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryURL" serializeAs="String">
                <value>https://pabs.uni-wuerzburg.de/repos/ws17_pp</value>
            </setting>
            <setting name="LastRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>D:\Projekte\Java\Programmierpraktikum\WS17\out</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
        </JPPSVN.Properties.Settings>
    </userSettings>
</configuration>
